<h1 class="title">Game {{gameNo}}/10</h1>
<div *ngIf="isDataAvailable">
	<app-show-graph [childMessage]="graph"></app-show-graph>
</div>

<p>Confidence: </p>

<div class="blocks">
  <input type="radio" name="confidence" id=1 >
  <label>1</label>
</div>

<div class="blocks">
  <input type="radio" name="confidence" id=2 >
  <label>2</label>
</div>

<div class="blocks">
  <input type="radio" name="confidence" id=3 >
  <label>3</label>
</div>

<div class="blocks">
  <input type="radio" name="confidence" id=4 >
  <label>4</label>
</div>

<div class="blocks">
  <input type="radio" name="confidence" id=5 >
  <label>5</label>
</div>

<p></p>

<p class="confidence_label">Very low confidence</p>
<p class="confidence_label">Very high confidence</p>

<button class ="button" (click)="confirmSelection()">Proceed...</button>
<!--<button class ="button" (click)=""routerLink="/coord-games-feedback-page">Proceed...</button>-->