<h1 class="title">Game X/10</h1>
<p class="title2"><b>Game is displayed here</b></p>
<p>Confidence: </p>

<div class="blocks">
  <input type="radio" id=1 >
  <label>1</label>
</div>

<div class="blocks">
  <input type="radio" id=2 >
  <label>2</label>
</div>

<div class="blocks">
  <input type="radio" id=3 >
  <label>3</label>
</div>

<div class="blocks">
  <input type="radio" id=1 >
  <label>4</label>
</div>

<div class="blocks">
  <input type="radio" id=1 >
  <label>5</label>
</div>

<p></p>

<p class="confidence_label">Very low confidence</p>
<p class="confidence_label">Very high confidence</p>

<button class ="button" routerLink="/coord-games-feedback-page">Proceed...</button>