<div style="height: 60vh">
<h2 class="title">Game {{gameNo}}/10</h2>
<div *ngIf="isDataAvailable">
	<app-show-graph [childMessage]="graph"></app-show-graph>
</div>
</div>


<!-- <div class="blocks">
  <input type="radio" name="confidence" id=1 >
  <label>1</label>
</div>

<div class="blocks">
  <input type="radio" name="confidence" id=2 >
  <label>2</label>
</div>

<div class="blocks">
  <input type="radio" name="confidence" id=3 >
  <label>3</label>
</div>

<div class="blocks">
  <input type="radio" name="confidence" id=4 >
  <label>4</label>
</div>

<div class="blocks">
  <input type="radio" name="confidence" id=5 >
  <label>5</label>
</div> -->

<!-- <input type="range" list="tickmarks" min="1" max="5" step="1">

<datalist class="slider" id="tickmarks">
  <option class="blocks2" value="1" label="1">
  <option class="blocks2" value="2">
  <option class="blocks2" value="3">
  <option class="blocks2" value="4">
  <option class="blocks2" value="5" label="5">
</datalist>

<div class="range">
  <input type="range" min="1" max="5" step="1">
</div>

<ul class="range-labels">
  <li>1</li>
  <li>2</li>
  <li>3</li>
  <li>4</li>
  <li>5</li>
</ul> -->

<div style="height: 20vh">
<p style="font-size: 20px">Estimate confidence of winning: </p>
<p class="slider2"><ng5-slider [(value)]="value" [options]="options"></ng5-slider></p>
<!-- <p>Value: <input type="number" [(ngModel)]="value"></p> -->


<p style="font-size: 20px">1 = Very low confidence, winning is only a matter of chance.</p>
<p style="font-size: 20px">5 = Full confidence, I am certain of winning.</p>

<!--
<p></p>

<p class="confidence_label">Very low confidence</p>
<p class="confidence_label_2">Very high confidence</p>

<p></p>-->

<button mat-raised-button color="primary" class ="button" (click)="confirmSelection()">Proceed...</button>
<div>
<!--<button class ="button" (click)=""routerLink="/coord-games-feedback-page">Proceed...</button>-->