<h1 class="title">Add Game</h1>
<button routerLink="">Save Game</button>
<button class="inline_field" routerLink="/coord-games-admin-games-page">Back</button>


<form class="game_list" method="post" action="/Tests/Post/">      
    <fieldset>      
        <legend>List of components currently added to this game:</legend>      
        <p>Component 1 <button class="inline_block" routerLink="">Remove</button></p>     
        <p>Component 2 <button class="inline_block" routerLink="">Remove</button></p>    
        <p>Component 3 <button class="inline_block" routerLink="">Remove</button></p>
        <p><button routerLink="/graph-editor">+</button></p>
        <!--<p><button routerLink="">Choose a component from the list...</button></p>  --> 
        <a href="">Choose a component from the list...</a>
        <!-- <br> -->       
        <!-- <input type="submit" value="Submit now" />  -->    
    </fieldset>      
</form>