<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">fd806d7a84a662ce1df5b66f95a02730e833fc652c85bd20059bd0ecb4713bb3</property>
        <property name="hibernate.connection.url">jdbc:postgresql://bzsnsbxpmvwsrz:fd806d7a84a662ce1df5b66f95a02730e833fc652c85bd20059bd0ecb4713bb3@ec2-46-137-121-216.eu-west-1.compute.amazonaws.com:5432/d5ahsdgoi3llak</property>
        <property name="hibernate.connection.username">bzsnsbxpmvwsrz</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.default_schema">project_work</property>
        <property name="show_sql">true</property>
        
        <mapping class="com.projectwork.coordinationgame.model.Category"></mapping>
        <mapping class="com.projectwork.coordinationgame.model.Game"></mapping>
        <mapping class="com.projectwork.coordinationgame.model.GameSession"></mapping>
        <mapping class="com.projectwork.coordinationgame.model.Presentation"></mapping>
        <mapping class="com.projectwork.coordinationgame.model.Selection"></mapping>
    </session-factory>
</hibernate-configuration>
