<html class ="mat-app-background">
<h2>LOGIN/LOGOUT</h2>
<p>{{message}}</p>

<!-- <div> <!-- temporary code  - for testing only. Will be removed later. -->
    <!-- <p>gfhj</p> <!-- temporary code  - for testing only. Will be removed later. -->
    <!-- <p>{{user}}</p> <!-- temporary code  - for testing only. Will be removed later. -->
    <!-- <p>{{psw}}</p> <!--  temporary code  - for testing only. Will be removed later. -->
<!-- </div> <!--  temporary code  - for testing only. Will be removed later. -->

<div *ngIf="!authService.isLoggedIn">
    <p class="inline">For players: </p>
</div>
<div *ngIf="!authService.isLoggedIn">
    <p class="inline">Player ID: </p><input class="inline_textfield" type="text" value="djfdjfh" [(ngModel)]="playerID" >
    <!-- <p class="inline">Username: </p><input class="inline_textfield" type="text" id="username" name="username" size="10"> -->
</div>

<div *ngIf="!authService.isLoggedIn">
    <p class="inline">For staff: </p>
</div>
<!-- <fieldset> -->
<div *ngIf="!authService.isLoggedIn">
    <p class="inline">Username: </p><input class="inline_textfield" type="text" value="djfdjfh" [(ngModel)]="username" >
    <!-- <p class="inline">Username: </p><input class="inline_textfield" type="text" id="username" name="username" size="10"> -->
</div>
<div *ngIf="!authService.isLoggedIn">
    <p class="inline">Password: </p><input class="inline_textfield" type="password" [(ngModel)]="password_field">
   <!-- <p class="inline">Password: </p><input class="inline_textfield" type="password" id="password" name="password" size="10"> -->
</div>
<!-- </fieldset> -->


<div *ngIf="!authService.isLoggedIn">
    <button mat-raised-button color="primary" (click)="login(username, password_field)">Login</button>
</div>
<div *ngIf="authService.isLoggedIn">
    <button mat-raised-button color="primary" (click)="logout()" >Logout</button>
</div>
</html>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->