.inline {
    display:inline-block;
    font-size: 16px;
}

.inline_textfield {
    display:inline-block;
    float: right;
    margin-right: 85%;
    margin-top: 0.75%;
    font-size: 16px;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/