<h2>LOGIN/LOGOUT</h2>
<p>{{message}}</p>

<div> <!-- temporary code  - for testing only. Will be removed later. -->
    <p>gfhj</p> <!-- temporary code  - for testing only. Will be removed later. -->
    <p>{{user}}</p> <!-- temporary code  - for testing only. Will be removed later. -->
    <p>{{psw}}</p> <!--  temporary code  - for testing only. Will be removed later. -->
</div> <!--  temporary code  - for testing only. Will be removed later. -->

<!-- <fieldset> -->
<div *ngIf="!authService.isLoggedIn">
    <!--<p class="inline">Username: </p><input class="inline_textfield" type="text" ngModel name="username" id="username"></p> -->
    <p class="inline">Username: </p><input class="inline_textfield" type="text" id="username" name="username" size="10"> 
</div>
<div *ngIf="!authService.isLoggedIn">
    <p class="inline">Password: </p><input class="inline_textfield" type="password" id="password" name="password" size="10">
</div>
<!-- </fieldset> -->

<p>
  <button (click)="login()"  *ngIf="!authService.isLoggedIn">Login</button>
  <button (click)="logout()" *ngIf="authService.isLoggedIn">Logout</button>
</p>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->