<body>
    <p class="alignment"> <img src="../../assets/finalpagecheckmark.png" alt="Green checkmark"/> </p>
    <p class="alignment"> Thank you! </p>
    <p class="alignment"> Your submission has been received. </p>
    
    <span class="id_field"> Your ID: </span> <span class="id_field"><b> ID GOES HERE </b></span>
    <p class="subtext_center"> You may use your ID to check your progress later. Please save this ID if you wish to do so. </p>
    <p class="alignment_left"> Feedback:  </p>
    <p class="subtext"> (optional)  </p>
    <textarea id="feedback" style="width:100%" rows = 10></textarea>
    <p class="subtext_center"> If you have any comments/suggestions/etc on how the tests could be improved, please share them here. </p>
    
    <button mat-raised-button color="primary" routerLink="/coord-games-feedback-received-page">Submit feedback</button>
</body>