<body>
    <p class="headline"><b> Thank you for participating! </b></p>
    <p class="alignment_center">To confirm your submission, please answer a few questions:</p>
    
     <ol class="text2">
         <li>
             <p> Have you taken this test before? </p>
             
             <div class="inline">
               <input type="radio" name="answer1" id=1 >
               <label> Yes </label>
             </div>
             
              <div class="inline">
               <input type="radio" name="answer1" id=2 >
               <label> No </label>
             </div>
             
         </li>

        <li>
             <p> Have you read any research related to coordination games before taking this test? </p>
             
             <div class="inline">
               <input type="radio" name="answer2" id=3 >
               <label> Yes </label>
             </div>
             
              <div class="inline">
               <input type="radio" name="answer2" id=4 >
               <label> No </label>
             </div>
             
         </li>
    </ol>
    
   <!-- <p class="subtext_center"> You may use your ID to check your progress later. Please save this ID if you wish to do so. </p>
    <p class="alignment_left"> Feedback:  </p>
    <p class="subtext"> (optional)  </p>
    <textarea id="feedback" style="width:100%" rows = 10></textarea>
    <p class="subtext_center"> If you have any comments/suggestions/etc on how the tests could be improved, please share them here. </p> -->
   
    <button routerLink="/coord-games-final-page">Submit your answers and finish</button>
</body>