.alignment_center {
    text-align:center
}

.alignment_left {
    text-align:left
}

.subtext {
    font-size: 12px;
    text-align: left;
}

.subtext_center {
    font-size: 12px;
    text-align: center;
}

.headline {
/*    font-size: 28px;*/
    font-size: 200%;
    text-align: center;
}

.id_field {
    display: inline-block;
    width: 50%;
/*    text-align: center;*/
}

.text2 {
 font-family: Times New Roman;
 font-size: 16px;
 line-height: 17px;
 letter-spacing: 2px;
 margin-right:2px;
 margin-left:2px;
 text-align: justify;
}

.blocks {
    display:inline-block;
    margin-left: 10%;
}

.inline {
    display:inline-block;
}