<html class ="mat-app-background">
<body>
<h1 class="title">Coordination Game Experiment</h1>


    <!--<h3 class="subtitle">Description of the games</h3>-->
    <p class="text">In this experiment you play games where your goal is to coordinate with another player unknown to you.</p> <br/>
    <p class="text">The games are displayed as follows:</p>
    <!--<p class="text"><a routerLink="/coord-games-extended-main-pages">Read more...</a></p>-->
    
    <p class="title"><img src="../../assets/Untitled.png" alt="Thumbnail" width="300" height="300"/></p>
    
    <ol class="text2">
         <li>
             <p>First, select a point from the left.</p>
         </li>
         <li>
             <p>Then your partner chooses a point from the right without seeing your choice.  </p>
         </li>
         <li>
             <p>You and your partner <b>both win</b> if you manage to choose points connected by a line - otherwise you both lose. </p>
         </li>
    </ol>
    <p class="text">Please choose a point which you expect to be the best for winning. Only after playing all the games, you will see how successful you were.</p>
    <br/>
    <button mat-raised-button color="primary" routerLink="/coord-games-gameplay-page">Start game</button>
</body>
</html>




