<h1 class="title">Coordination Games</h1>

<body>
    <h3 class="subtitle">Description of the games</h3>
    <p class="text">All games are displayed as bipartite graphs. Your choices are vertices on the LEFT and your partners choices are vertices on the right. The winning pairs of choices (for both of you) have an edge between them. If there is no edge between two choices, then you both lose. After selecting a move, please also give an estimate of your confidence on winning the game with this choice. This indicates how certain you are that your (rational) partner will coordinate with you in a way that leads to a win for both of you. The confidence is given on a scale from 1 to 5:</p>
    <p class="text"><a routerLink="/coord-games-extended-main-pages">Read more...</a></p>
    
    <ol class="text2">
         <li>
             <p>Very low confidence: I have made a random choice. </p>
             <p> The coordination success is only a matter of chance.</p>
         </li>
         <li>
             <p>Low confidence: I have some reason for this choice. </p>
             <p>The chance we coordinate is better than random.</p>
         </li>
         <li>
             <p>Medium confidence: I have a good reason for this choice. </p>
             <p>The chance we coordinate is good, but not certain.</p>
         </li>
         <li>
             <p>High confidence: I have a very strong reason for this choice. </p> 
             <p>If my partner reasons correctly, we should coordinate.</p>
         </li>
         <li>
             <p>Full confidence: I am certain that we will coordinate.</p>
         </li>
    </ol>
    <button routerLink="/coord-games-gameplay-page">Start game</button>
</body>




