.text {
 font-family: Times New Roman;
/* font-size: 16px;*/
 font-size: 20px;
 line-height: 17px;
 letter-spacing: 2px;
 display:inline-block;
 margin-right:2px;
 margin-left:2px;
 text-align: justify;
}

.text2 {
 font-family: Times New Roman;
 font-size: 20px;
 line-height: 17px;
 letter-spacing: 2px;
 margin-right:2px;
 margin-left:2px;
 text-align: justify;
}

.subtitle {
 font-family: Times New Roman;
 font-size: 20px;
 line-height: 17px;
 text-transform: uppercase;
 letter-spacing: 2px;
 font-weight: bold;
}

.italic_text {
 font-family: Times New Roman;
 font-size: 14px;
 line-height: 17px;
 letter-spacing: 2px;
 font-style: italic;
 display:inline-block;
}

.title {
    text-align:center;
/*    font-size: 24px;*/
    font-size: 200%;
}

.start {
	margin:auto;
	display:block;
}