<style>
	table {
		width: 100%;
	}
	.gameTableContainer {
		width: 75%;
	}
	.mat-column-removeGame {
		justify-content: flex-end;
	}


</style>

<h1 style="text-align: center; font-size: 200%">Report of game {{id}}</h1>

<div *ngIf="isDataAvailable">
    <app-show-graph [childMessage]="graph" [reportData]="nodeReport"></app-show-graph>
</div>
<!--<button routerLink="/coord-games-admin-add-game-page">Add game...</button> -->
<!--<button mat-raised-button color="primary" routerLink="/graph-editor">Add game...</button>-->
<!--<div style="float: right; margin-right: 10%">
         <select name = "dropdown">
            <option value = "Choose presentation..." selected>Choose presentation...</option>
            <option value = "Test" (click)=showPresentationReport({{id}}, 1}}>Presentation {{id}}</option>///
         </select>
</div>-->

<!--<div style="float: right; margin-right: 10%">
    <mat-form-field>
        <mat-label>Choose presentation...</mat-label>
        <mat-select [(value)]="presentationId" (selectionChange)=showPresentationReport(presentationId)>
            <mat-option>None</mat-option>
            <!--<mat-option value=1>Presentation 1</mat-option>
            <mat-option value=2>Presentation 2</mat-option>
            <mat-option value=3>Presentation 3</mat-option> ///
            <option *ngFor="let presentation of presentationList" [value]="presentation.id" >{{presentation.id}}</option>
        </mat-select>
    </mat-form-field>
</div> -->

<div style="margin:auto" class="gameTableContainer mat-elevation-z8">
	<table mat-table [dataSource]="dataSource">
		<ng-container matColumnDef="nodeId">
			<th mat-header-cell *matHeaderCellDef> ID </th>
			<!--<td mat-cell *matCellDef="let game"> <a href='graph-editor/{{game.gameID}}'>GAME ID: {{game.gameID}}</a> </td>-->
                        <td mat-cell *matCellDef="let node"> NODE ID: {{node.nodeId}} </td>
        </ng-container>
        <ng-container matColumnDef="frequency">
                <th mat-header-cell *matHeaderCellDef> FREQUENCY </th>
                <td mat-cell *matCellDef="let node"> {{node.frequency}} </td>
            </ng-container>	
		<ng-container matColumnDef="percentageChosen">
			<th mat-header-cell *matHeaderCellDef> % OF CHOICES </th>
			<td mat-cell *matCellDef="let node"> {{node.percentChosen}} </td>
		</ng-container>	
               	<ng-container matColumnDef="avgConfidence">
			<th mat-header-cell *matHeaderCellDef> AVERAGE CONFIDENCE </th>
			<td mat-cell *matCellDef="let node"> {{node.avgConfidence}} </td>
		</ng-container>	
		<tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
		<tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
	</table>
</div>

<!--<p style="font-size: 20px"><b>Average confidence: {{confidence}}</b></p>-->

<!--
<div class="gameTableContainer mat-elevation-z8">
	<table mat-table [dataSource]="dataSourcePresentations">
		<ng-container matColumnDef="presentationId">
			<th mat-header-cell *matHeaderCellDef> ID </th>
			<!--<td mat-cell *matCellDef="let game"> <a href='graph-editor/{{game.gameID}}'>GAME ID: {{game.gameID}}</a> </td>-->
                       <!-- <td mat-cell *matCellDef="let presentation"> ID: {{presentation.id}} </td>
		</ng-container>
		<ng-container matColumnDef="showReport">
			<th mat-header-cell *matHeaderCellDef> SHOW REPORT </th>
			<td mat-cell *matCellDef="let presentation"> <button mat-raised-button color="primary" (click)=showPresentationReport(presentation.id)> SHOW REPORT </button>  </td>
		</ng-container>	
		<tr mat-header-row *matHeaderRowDef="columnsToDisplayPresentations"></tr>
		<tr mat-row *matRowDef="let myRowData; columns: columnsToDisplayPresentations"></tr>
	</table>
	<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
-->
<!--
<form class="game_list" method="post" action="/Tests/Post/">      

	
   <!-- <fieldset>      
        <legend>Select games to edit/remove them:</legend>      
        <input type="checkbox" name="chosen_game" value="1">Game ID 1   (Unplayed)<br>      
        <input type="checkbox" name="chosen_game" value="2">Game ID 2   (Played)<br>      
        <input type="checkbox" name="chosen_game" value="3">Game ID 3   (Unplayed)<br>   
        <input type="checkbox" name="chosen_game" value="4">Game ID 4   (Unplayed)<br>      
        <input type="checkbox" name="chosen_game" value="5">Game ID 5   (Unplayed)<br>      
        <input type="checkbox" name="chosen_game" value="6">Game ID 6   (Unplayed)<br>  
        <br>      
        <!-- <input type="submit" value="Submit now" />      
    </fieldset>    -->  
        <!--
    <fieldset>      
        <legend>Select games to edit/remove them:</legend>      
        <p><input type="checkbox" name="chosen_game" value="1">Game ID 1   (Unplayed)<button class="inline_block" routerLink="">Edit</button></p>      
        <p><input type="checkbox" name="chosen_game" value="2">Game ID 2   (Played)<button class="inline_block" routerLink="">Edit</button></p>       
        <p><input type="checkbox" name="chosen_game" value="3">Game ID 3   (Unplayed)<button class="inline_block" routerLink="">Edit</button></p>  
        <p><input type="checkbox" name="chosen_game" value="4">Game ID 4   (Unplayed)<button class="inline_block" routerLink="">Edit</button></p>      
        <p><input type="checkbox" name="chosen_game" value="5">Game ID 5   (Unplayed)<button class="inline_block" routerLink="">Edit</button></p>      
        <p><input type="checkbox" name="chosen_game" value="6">Game ID 6   (Unplayed)<button class="inline_block" routerLink="">Edit</button></p> 
        <br>      
        <!-- <input type="submit" value="Submit now" />  -->    
    <!--</fieldset>    
</form> -->