<!-- <h1 class="title">Angular Router</h1> -->
<nav>
  <!-- <a routerLink="/coord-games-main-page" routerLinkActive="active">Main page</a> -->
  <!-- <a routerLink="/superheroes" routerLinkActive="active">Heroes</a> -->
  <!-- <a routerLink="/admin" routerLinkActive="active">Admin</a> -->
  <a routerLink="/login" routerLinkActive="active">Login</a> 
  <!-- <a [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contact</a> -->
</nav>
<div [@routeAnimation]="getAnimationData(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>
<router-outlet name="popup"></router-outlet>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->